@import "node_modules/bootstrap/scss/bootstrap";

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
    border-bottom-style: none;
}

@media (min-width: 1200px) {
  nav .container {
      max-width: 1340px;
  }
}
.intro-text * {
  margin: 1em 0;
}


.material-icons {
  vertical-align: bottom;
}

.vertical-center {
  align-items: center;
  height: 100%;
  /* width: 100%; */
  display: flex;
}

.navbar-brand img {
  margin-right: 5px;
  margin-bottom: 3px;
}

.navbar-brand {
  color: #FB8C00 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
.carousel-inner {
  max-height: 500px;
}

.text-black {
  color: black;
}

.bg-white {
  background-color: white;
}

.bg-hero {
  margin: 0 0 3.25rem 0 !important;
  background: url(images/slide-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-invaders {
  background-image: url(images/lock.jpg);
}
.bg-dam {
  background-image: url(images/underwater.jpeg);
}
.bg-nuclear {
  background-image: url(images/nuclear-blast.jpg);
}

.bg-pp {
  background-image: url(images/girl-thinking.jpg);
}

.bg-hh {
  background-image: url(images/blood-wall.jpg);
}

.bg-hero h1 {
  font-size: 4rem;
}

.bg-hero h3{
  color: white;
  font-size: 1.3rem;
}

.bg-hero h1,h2,h3,p {
  color: white;
  margin: 1rem 0;
}

.items {
  margin-top: 5rem;
}

.items h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #595959;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}
.items p {
  color: #595959;
  margin-bottom: 0rem;
  margin-top: 0rem;
}
.items .col-md-3 {
  margin-bottom: 2rem;
  text-align: center;
}
.col-md-3 {
  flex: 0 0 32%;
  max-width: 32%;
}
.testimonials {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.testimonials .rounded-circle {
  margin-right: 2rem;
}
.testimonials .quote-text {
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

footer {
  font-size: 0.9rem;
  padding: 4.5rem 0;
}
footer .btn-sm {
  padding: 0.1rem 0.7rem;
}
.video {
  width: 100%;
  height: 600px;
}
@media (max-width: 991px) {
  .video {
      height: 400px;
  }
}
@media (max-width: 766px) {
  .video {
      height: 300px;
  }
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.table {
  margin-bottom: 0.5rem;
}
.card-text p {
  color: black;
}
.text-light a {
  color: #adb5bd;
  transition: color .1s ease;
  text-decoration: none;
}
.text-light a:hover {
    color: #fff;
    transition: color .1s ease;
}
.text-light .text-muted  {
  color: #adb5bd !important;
}
.text-light .text-muted a  {
  color: #c7cfd8 !important;
}
.footer-text {
  color: #c7cfd8;
}


@media (max-width: 800px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 400px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.gallery-block.grid-gallery{
  padding-bottom: 60px;
  padding-top: 0px;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}
